* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: linear-gradient(90deg, #d9a7c7 0%, #fffcdc 100%);
}

.main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 450px;
    min-height: 500px;
    padding: 32px;
    background-color: #d3fcf7;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 32px 64px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #93424b;

    h2 {
        font-size: 2.4rem;
    }

    p {
        margin-top: 4px;
        font-size: 1.4rem;
        color: #f56e7d;
    }
    .spacer {
        margin-top: 40px;
    }

    .form-group {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;

        .form-label {
            text-align: left;
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 8px;
        }
        .form-control {
            height: 40px;
            padding: 0 12px;
            border: 1px solid #93424b;
            border-radius: 4px;
            font-size: 1.6rem;
            outline: none;
            background-color: #f8fefa;
        }

        .form-control:hover {
            border : 1px solid #30db92
        } 

        .form-message {
            font-size: 1.4rem;
            text-align: left;
            margin-top: 4px;
            color: #db3c30;
        }
    }

    .form-group.invalid {
        .form-control {
            border: 1px solid #db3c30;
        }    
        .form-control:hover {
            border: 1px solid #db3c30;
        }    
    }
    
    .form-submit {
        background-image: linear-gradient(90deg, #fc5c7d 0%, #6a82fb 100%);
        border: none;
        height: 40px;
        margin-top: 40px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 8px 16px, rgba(0, 0, 0, 0.1) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 32px 64px;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
}