* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

.music-player {
    max-width: 480px;
    margin: 0 auto;
    user-select: none;
}

.dashboard {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position: fixed;
    top: 0;
    max-width: 480px;
    background-image: linear-gradient(90deg, #d3cce3 0%, #e9e4f0 100%);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dashboard__header {
    text-align: center;
    padding: 20px 0;
}
.dashboard__header h4 {
    color: #ba184f;
    font-size: 20px;
}
.dashboard__header h3 {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #ad5389 0%, #3c1053 100%);
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
}
.CD {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
}
.thums-CD {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}
.control {
    display: flex;
    margin: 16px auto;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}
.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: whitesmoke;
    background-image: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button.active {
    color: #ba184f;
}

.button.toggel_play-button {
    width: 60px;
    height: 60px;
    background-image: linear-gradient(90deg, #ad5389 0%, #3c1053 100%);
}
.button span {
    font-size: 32px;
}
.progress {
    margin: 0 12px 16px;
    width: 80%;
    -webkit-appearance: none;
    height: 6px;
    border-radius: 3px;
    background-image: linear-gradient(90deg, #c0392b 0%, #8e44ad 100%);
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 12px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}
.playlists {
    max-height: 250px;
    margin-top: 432px;
}
.song{
    color: #414343;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 8px;
    background-image: linear-gradient(90deg, #d3cce3 0%, #e9e4f0 100%);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.song.active {
    background-image: linear-gradient(90deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%);
    color: whitesmoke
}
.song:active {
    opacity: 0.8;
}
.song__thumb{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}
.song__info{
    flex: 1;
    margin-left: 12px;
}
.song__name{
    font-size: 20px;
    font-weight: 600; 
}
.song__more{
    padding: 8px 12px;
}
.song__more span {
    font-size: 30px;
}